@import "tailwindcss";

@font-face {
  font-family: Urbanist;
  src: url('/fonts/Urbanist-Regular.ttf');
}

@font-face {
  font-family: Urbanist-bold;
  src: url('/fonts/Urbanist-Bold.ttf');
}

.urbanist_bold{
  font-family:Urbanist-bold;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.spin-slow {
  animation: spin 20s linear infinite;
}

.spin-slower {
  animation: spin 40s linear infinite;
}

*{
  font-family: Urbanist;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.animate-fadeIn {
  animation: fadeIn 1s ease forwards;
}